<!--The content below is only a placeholder and can be replaced.-->
<!-- <app-home-page></app-home-page> -->

<!-- <app-event-list></app-event-list>
<app-add-action></app-add-action> -->

<!-- <router-outlet></router-outlet> -->
<ul>
    <li  class="dropdown">
    <a href="#home" class="btn-secondary dropdown-toggle">Home</a>
       <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="#">Log</a><br>
      <a class="dropdown-item" href="#">Roles</a><br>
      <a class="dropdown-item" href="#">Actions</a><br>
    </div>
      </li>
    <li><a href="#Rules">Rules</a></li>
    <li><a href="#Solution">Solutions</a></li>
    <li><a href="#About">About</a></li>
    <li style="float: right"><img src="./assets/a.png" alt="Amdocs Logo" height="50"></li>
    </ul>
    <br>
    <div class="container" >

      <div class="container">

             <H2 align="center">Log Action System Status at  <span id="date2"></span></H2>
             <br><br>
      </div>
      <app-home-page></app-home-page>
</div>
